body {
    font-family: Helvetica, sans-serif;
    background-color: #23272a;
    color: white;
}

.Content-Holder {
    width: 1000px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background: #3e464b;
}

.labelTextArea {
    text-align: center;
    width: 100%;
    font-size: 110%;
    margin: 0 0 25px 0;
    font-weight: bold;
}

.linkDiv {
    padding: 0 0 10px 0;
}

.link {
    font-weight: bold;
}

.link:visited {
    color: white;
}


.textArea {
    width: 99.5%;
    height: 500px;
    font-family: Helvetica, sans-serif;
    resize: none;
    color: white;
    background-color: #576066;
}

.textArea::placeholder {
    color: lightgray;
}

.inputButtonDiv {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.inputButton {
    width: 250px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid lightgray;
    background: linear-gradient(#3e464b 0%, #3e464b 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
    cursor: pointer;
    font-weight: bolder;
    font-style: italic;
    font-size: 120%;
    color: lightgray;
}

.inputButton:hover, .clearButton:hover {
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.clearButton {
    position: absolute;
    right: 0;
    top: 7px;
    vertical-align: center;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid lightgray;
    background: linear-gradient(#3e464b 0%, #3e464b 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
    cursor: pointer;
    font-weight: bolder;
    font-style: italic;
    font-size: 100%;
    color: lightgray;
}


.export {
    font-size: 140%;
}
.export ol {
    list-style: none;
    padding-left: 0;
}

.exportDivName {
    padding: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.exportDivName:hover {
    background: #6f7c85;
    color: white;

}

.exportDivArrow {
    display: inline-block;
    float: right;
    transform: rotate(90deg);
    font-size: 80%;
    margin: auto 0;
}

.export li {
    margin: 0 50px 10px 50px;
    font-size: 80%;
}

