body {
    font-family: Helvetica, sans-serif;
}

.Content-Holder {
    width: 1000px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background: lightgrey;
}

.textArea {
    width: 100%;
    height: 700px;
    font-family: Helvetica, sans-serif;
    resize: none;
}