body {
    font-family: Helvetica, sans-serif;
    background-color: #23272a;
}

.Content-Holder {
    width: 1000px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background: #3e464b;
}

.textArea {
    width: 99.5%;
    height: 500px;
    font-family: Helvetica, sans-serif;
    resize: none;
    color: white;
    background-color: #576066;
}

.textArea::placeholder {
    color: lightgray;
}